
<div id="comment-modal">
    
</div>

<main class="home-page">
     
    <div id="home-pg-profile-section">
        <%= render "devise/profile"%>
    </div>
    <div id="posts">
        <%= render partial: "post", collection: @posts %>
    </div>
</main>





     

