<p id="notice"><%= notice %></p>
<div id="comment-modal">
    
</div>

<main class="home-page">
    
    <div>
        <%= render "devise/profile"%>
    </div>
    <div id="posts">
        <%= render partial: "post", collection: @posts %>
    </div>
</main>





     

