<div class="container create-post">
    <div class="title-section">
        <h2>Create a post</h2>
        <div class="draft">
            <p>Drafts</p>
            <p>0</p>
        </div>
    </div>

    <div class="form-area">
        <div class="textarea">
            <div class="settings">
                <p>B</p>
                <p>i</p>
                <p>l</p>
            </div>
            <%= render 'form', post: @post %>
        </div>
    </div>	
</div>

