/* sign up and sign in pages **/
.log-in-section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    .log-in-form {
        margin: 2rem 0;
        padding: 2em 4rem;
        
        h2 {
            margin-bottom: 2rem;
        }
        input {
            margin-bottom: 1rem;
            padding: 0.5em;
        }
    }
}





/** profile partial on the home page **/
.home-page-profile {
    width: 300px;
    height: 100%;
}

.user-info {
    display: flex;
    margin-bottom: 1.6rem;
    .username {
        align-self: center;
    }
}


.user-stats {
    display: flex;
    margin-bottom: 1.5rem;
    p {
        margin-right: 1rem;
    }
}

.btn-container {
    
    button {
        display: block;
        margin-bottom: 1.6rem;
    }
    .edit-profile {
        display: flex;
        .fa {
            font-size: 1.4rem;
        }
        button {
            margin-left: 1rem;
            border: none;
            font-size: 1.1rem;
            background: none;
        }

    }
    
}