<nav class="container nav-container">
    <div class="navigation">
        <div class="home">
            <%= link_to "Home", authenticated_root_path %>
        </div>

        <div class="nav-links">
            <%= link_to "Profile", "#" %>
            <%= link_to "Log out", destroy_user_session_path %>
        </div>
    </div>
</nav>